@use "sass:math";
@use "sass:map";
@use "../global" as *;

.know {
  position: relative;
  margin-top: get-sp-vw(50);
  @include mq($from: desktop) {
    margin-top: 80px;
  }
  .know__inner {
    position: relative;
    margin: 0 auto;
    width: get-sp-vw(315);
    @include mq($from: desktop) {
      flex-wrap: wrap;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1180px;
      width: 95%;
    }
    .c-radius1 {
      top: 45%;
      right: -30%;
      width: 80px;
      height: 80px;
      background-color: #eaeaea;
    }
    .know__imagearea {
      z-index: 1;
      width: 100vw;
      margin: get-sp-vw(20) calc(50% - 50vw) 0;
      @include mq($from: desktop) {
        margin: 0;
        width: 757px;
        height: auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .know__textarea {
      position: relative;
      z-index: 2;
      @include mq($from: desktop) {
        width: 354px;
      }
      .c-radius3 {
        top: 75%;
        left: -30%;
        width: 63px;
        height: 63px;
        background-color: #67d271;
      }
      .c-radius2 {
        top: 55%;
        left: -50%;
        width: 38px;
        height: 38px;
        background-color: #0017af;
      }
      .know__subtitle {
        position: relative;
        display: block;
        font-weight: bold;
        color: map.get($color, "m-bg");
        padding: get-sp-vw(5) 0;
        margin-left: get-sp-vw(-30);
        text-align: center;
        margin-bottom: get-sp-vw(30);
        width: get-sp-vw(162);
        font-size: get-sp-vw(21);
        @include mq($from: desktop) {
          padding: 5px 0;
          margin-left: -100px;
          text-align: center;
          margin-bottom: 30px;
          width: 328px;
          font-size: 24px;
        }
        &::before {
          opacity: 0;
          z-index: -1;
          position: absolute;
          content: "";
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background-color: map.get($color, "accent");
        }
      }
      h3 {
        font-weight: bold;
        line-height: 1.8;
        letter-spacing: -0.01em;
        font-size: get-sp-vw(28);
        @include mq($from: desktop) {
          line-height: 1.8;
          letter-spacing: -0.01em;
          font-size: 32px;
        }
      }
      .know__explain {
        line-height: 1.8;
        letter-spacing: -0.01em;
        margin-top: get-sp-vw(30);
        font-size: get-sp-vw(16);
        @include mq($from: desktop) {
          margin-top: 30px;
          font-size: 18px;
        }
      }
    }
  }
}
