@use "sass:math";
@use "sass:map";
@use "../global" as *;

.number {
  position: relative;
  margin: get-sp-vw(80) 0 get-sp-vw(0);
  background-color: #eceeef;
  @include mq($from: desktop) {
    background-color: transparent;
    margin-top: 80px;
    margin-bottom: 90px;
  }
  .number__inner {
    position: relative;
    margin: 0 auto;
    width: get-sp-vw(315);
    padding: get-sp-vw(45) 0;
    @include mq($from: desktop) {
      background-color: #eceeef;
      padding: 50px 40px;
      max-width: 1200px;
      width: 95%;
    }
    .number__titlearea {
      @include mq($from: desktop) {
        display: flex;
        gap: 20px;
      }
    }
    .number__imageareas {
      z-index: 1;
      margin: get-sp-vw(30) auto 0;
      @include mq($from: desktop) {
        margin-top: 35px;
      }
      .number__imagearea {
        &:first-child {
          width: get-sp-vw(293);
          @include mq($from: desktop) {
            margin: 0 auto;
            width: 88%;
            height: auto;
          }
        }
        &:last-child {
          width: 100%;
          margin-top: get-sp-vw(40);
          @include mq($from: desktop) {
            margin: 40px auto 0;
            width: 95%;
            height: auto;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    h3 {
      font-weight: bold;
      font-size: get-sp-vw(28);
      line-height: 1.8;
      letter-spacing: -0.01em;
      @include mq($from: desktop) {
        margin-left: 15px;
        line-height: 1.8;
        letter-spacing: -0.01em;
        font-size: 32px;
      }
    }
    .number__explain {
      line-height: 1.8;
      margin-top: get-sp-vw(10);
      font-size: get-sp-vw(18);
      @include mq($from: desktop) {
        margin-left: 15px;
        margin-top: 20px;
        font-size: 18px;
      }
    }
  }
}
