@use "sass:math";
@use "sass:map";
@use "../global" as *;

.staff {
  position: relative;
  overflow: hidden;
  margin-top: get-sp-vw(50);
  margin-bottom: get-sp-vw(10);
  @include mq($from: desktop) {
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .staff__inner {
    position: relative;
    margin: 0 auto;
    @include mq($from: desktop) {
      max-width: 1200px;
      width: 95%;
    }
    .c-radius14 {
      z-index: 3;
      top: 10%;
      left: -20%;
      width: 104px;
      height: 104px;
      background-color: #67d271;
    }
    .c-radius15 {
      z-index: 3;
      top: 40%;
      left: -30%;
      width: 104px;
      height: 104px;
      background-color: #eaeaea;
    }
    .c-radius16 {
      z-index: 3;
      top: 50%;
      left: -20%;
      width: 60px;
      height: 60px;
      background-color: #0017af;
    }
    .c-radius17 {
      z-index: 3;
      bottom: 20%;
      left: -30%;
      width: 30px;
      height: 30px;
      background-color: #67d271;
    }
    .c-radius18 {
      z-index: 3;
      top: 2%;
      right: -20%;
      width: 64px;
      height: 64px;
      background-color: #eaeaea;
    }
    .c-radius19 {
      z-index: 3;
      top: 25%;
      right: -10%;
      width: 76px;
      height: 76px;
      background-color: #67d271;
    }
    .c-radius20 {
      z-index: 3;
      top: 22%;
      right: -12%;
      width: 30px;
      height: 30px;
      background-color: #eaeaea;
    }
    .c-radius21 {
      z-index: 3;
      top: 50%;
      right: -30%;
      width: 130px;
      height: 130px;
      background-color: #0017af;
    }
    .c-radius22 {
      z-index: 3;
      top: 60%;
      right: -20%;
      width: 63px;
      height: 63px;
      background-color: #eaeaea;
    }
    .c-radius23 {
      z-index: 3;
      bottom: 5%;
      right: -20%;
      width: 30px;
      height: 30px;
      background-color: #0017af;
    }
    .staff__fv {
      width: get-sp-vw(315);
      margin: 0 auto;
      @include mq($from: desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1050px;
        width: 98%;
      }
      .staff__textarea {
        @include mq($from: desktop) {
          width: 450px;
        }
        .staff__subtitle {
          position: relative;
          display: block;
          font-weight: bold;
          text-align: center;
          color: map.get($color, "m-bg");
          margin-bottom: get-sp-vw(30);
          width: get-sp-vw(195);
          font-size: get-sp-vw(21);
          padding: get-sp-vw(5) 0;
          margin-left: get-sp-vw(-30);
          @include mq($from: desktop) {
            padding: 5px 0;
            margin-left: -100px;
            text-align: center;
            margin-bottom: 30px;
            width: 328px;
            font-size: 24px;
          }
          &::before {
            opacity: 0;
            z-index: -1;
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: map.get($color, "accent");
          }
        }
        h3 {
          font-weight: bold;
          line-height: 1.8;
          letter-spacing: -0.01em;
          font-size: get-sp-vw(28);
          @include mq($from: desktop) {
            line-height: 1.8;
            letter-spacing: -0.01em;
            font-size: 30px;
          }
        }
        .staff__explain {
          line-height: 1.8;
          margin-top: get-sp-vw(30);
          font-size: get-sp-vw(16);
          @include mq($from: desktop) {
            margin-top: 20px;
            font-size: 16px;
          }
        }
      }
      .staff__imagearea {
        position: relative;
        z-index: 1;
        width: get-sp-vw(218);
        margin: get-sp-vw(15) auto 0;
        height: auto;
        @include mq($from: desktop) {
          margin: 35px 0 0 0;
          width: 500px;
        }
        .c-radius12 {
          z-index: 3;
          top: 50%;
          left: -10%;
          width: 25px;
          height: 25px;
          background-color: #0017af;
        }
        .c-radius13 {
          z-index: 3;
          top: 20%;
          left: -10%;
          width: 65px;
          height: 65px;
          background-color: #67d271;
        }
        .staff__imagearea-svg{
          width: 100%;
          height: 100%;
        }
      }
    }
    .staff__items {
      display: flex;
      flex-direction: column;
      gap: get-sp-vw(80);
      margin-top: get-sp-vw(100);
      @include mq($from: desktop) {
        margin-top: 70px;
        gap: 120px;
      }
      .staff__item {
        position: relative;
        padding: 0 0 get-sp-vw(145) 0;
        border: get-sp-vw(2) solid map.get($color, "m-text");
        border-left: none;
        border-right: none;
        @include mq($from: desktop) {
          border: 3px solid map.get($color, "m-text");
          padding: 30px 90px 145px 90px;
        }
        &::before {
          position: absolute;
          z-index: -1;
          content: "";
          width: 100%;
          background-color: #eaeaea;
          height: get-sp-vw(652);
          top: get-sp-vw(10);
          @include mq($from: desktop) {
            top: -50px;
            left: -40px;
            height: 467px;
          }
        }
        .staff-item__member {
          @include mq($from: desktop) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .staff-item__imagearea {
            width: get-sp-vw(142);
            height: auto;
            margin: get-sp-vw(-50) auto 0;
            @include mq($from: desktop) {
              margin: 0;
              height: auto;
              width: 285px;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          .staff-item__textarea {
            width: get-sp-vw(315);
            margin: 0 auto;
            @include mq($from: desktop) {
              margin: 0;
              width: 708px;
            }
            .staff-item__fv {
              @include mq($from: desktop) {
                display: flex;
                align-items: center;
              }
              .staff-item-fv__icon {
                width: get-sp-vw(77);
                margin: get-sp-vw(-20) auto 0;
                @include mq($from: desktop) {
                  height: auto;
                  width: 77px;
                  margin: 0 20px 0 0;
                }
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .staff-item-fv__textarea {
                .staff-item-fv__group {
                  font-weight: bold;
                  letter-spacing: -0.01em;
                  margin-top: get-sp-vw(15);
                  margin-bottom: get-sp-vw(5);
                  font-size: get-sp-vw(16);
                  text-align: center;
                  @include mq($from: desktop) {
                    text-align: left;
                    margin-top: 0;
                    letter-spacing: -0.01em;
                    margin-bottom: 10px;
                    font-size: 18px;
                  }
                }
                h4 {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: center;
                  position: relative;
                  text-align: center;
                  font-weight: bold;
                  font-size: get-sp-vw(32);
                  letter-spacing: -0.01em;
                  margin-bottom: get-sp-vw(10);
                  @include mq($from: desktop) {
                    display: block;
                    text-align: left;
                    letter-spacing: -0.01em;
                    margin-bottom: 10px;
                    font-size: 36px;
                  }
                  .name {
                    display: block;
                    width: 100%;
                    margin-bottom: get-sp-vw(10);
                    @include mq($from: desktop) {
                      display: inline;
                      margin-bottom: 0;
                      width: auto;
                    }
                  }
                  .staff-item-fv__year {
                    display: block;
                    font-size: get-sp-vw(18);
                    letter-spacing: -0.01em;
                    @include mq($from: desktop) {
                      display: inline;
                      letter-spacing: -0.01em;
                      font-size: 24px;
                    }
                  }
                  .staff-item-fv__role {
                    font-size: get-sp-vw(18);
                    letter-spacing: -0.01em;
                    @include mq($from: desktop) {
                      display: inline;
                      letter-spacing: -0.01em;
                      font-size: 24px;
                    }
                  }
                }
              }
            }
            .staff-item__title {
              font-weight: bold;
              font-size: get-sp-vw(21);
              letter-spacing: -0.01em;
              line-height: 1.8;
              margin-top: get-sp-vw(45);
              margin-bottom: get-sp-vw(20);
              @include mq($from: desktop) {
                letter-spacing: -0.01em;
                margin-bottom: 10px;
                margin-top: 40px;
                font-size: 24px;
              }
            }
            .staff-item__explain {
              line-height: 1.8;
              letter-spacing: -0.01em;
              font-size: get-sp-vw(14);
              @include mq($from: desktop) {
                line-height: 1.8;
                letter-spacing: -0.01em;
                margin-top: 15px;
                font-size: 16px;
              }
            }
          }
        }
        .staff-item__accordion {
          &.is-show {
            .c-global-navigation-child__inner {
              opacity: 1;
              pointer-events: auto;
            }
          }
          .c-global-navigation-child__inner {
            opacity: 0;
            pointer-events: none;
          }
          .staff-item__readmore {
            position: absolute;
            font-weight: bold;
            width: get-sp-vw(315);
            cursor: pointer;
            bottom: get-sp-vw(40);
            background-color: map.get($color, "m-text");
            color: map.get($color, "m-bg");
            letter-spacing: -0.01em;
            text-align: center;
            right: 50%;
            transform: translateX(50%);
            padding: get-sp-vw(20) 0;
            font-size: get-sp-vw(18);
            @include mq($from: desktop) {
              cursor: pointer;
              max-width: 1000px;
              width: 95%;
              bottom: 40px;
              right: 50%;
              transform: translateX(50%);
              margin-top: 40px;
              letter-spacing: -0.01em;
              text-align: center;
              font-size: 21px;
              padding: 20px 0;
              transition: all 0.3s;
              border: 1px solid map.get($color, "m-text");
              &:hover {
                background-color: map.get($color, "m-bg");
                color: map.get($color, "m-text");
                .staff-item__readmore-text {
                  &:after {
                    color: map.get($color, "m-text");
                  }
                }
              }
            }
            &.is-current {
              .staff-item__readmore-text {
                &:first-child {
                  display: none;
                }
                &:last-child {
                  display: inline-block;
                }
                &:after {
                  bottom: 0%;
                  transform: rotate(270deg) translateX(20%);
                }
              }
            }
            .staff-item__readmore-text {
              position: relative;
              display: inline-block;
              padding-right: get-sp-vw(70);
              @include mq($from: desktop) {
                padding-right: 70px;
              }
              &:first-child {
                display: inline-block;
              }
              &:last-child {
                display: none;
              }
              &:after {
                position: absolute;
                content: "ã€‰";
                right: 0;
                bottom: 20%;
                transform: rotate(90deg) translateX(50%);
                color: map.get($color, "m-bg");
                font-size: get-sp-vw(18);
                @include mq($from: desktop) {
                  letter-spacing: -0.01em;
                  text-align: center;
                  font-size: 21px;
                }
              }
            }
          }
          .staff-item-accordion__contents {
            .staff-item-accordion__boxes {
              display: flex;
              flex-direction: column;
              padding-top: get-sp-vw(100);
              gap: get-sp-vw(70);
              @include mq($from: desktop) {
                padding-top: 150px;
                gap: 80px;
              }
              .staff-item-accordion__box {
                width: get-sp-vw(315);
                margin: 0 auto;
                @include mq($from: desktop) {
                  margin: 0;
                  width: auto;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-wrap: wrap;
                  gap: 10px;
                }
                &:nth-child(2n) {
                  flex-direction: row-reverse;
                }
                .staff-item-accordion__imagearea {
                  width: 100%;
                  margin-bottom: get-sp-vw(30);
                  @include mq($from: desktop) {
                    margin-bottom: 0;
                    height: auto;
                    width: 479px;
                  }
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
                .staff-item-accordion__textarea {
                  @include mq($from: desktop) {
                    width: 423px;
                  }
                  .staff-item-accordion__title {
                    font-weight: bold;
                    font-size: get-sp-vw(21);
                    line-height: 1.8;
                    letter-spacing: -0.01em;
                    margin-bottom: get-sp-vw(25);
                    @include mq($from: desktop) {
                      line-height: 1.8;
                      letter-spacing: -0.01em;
                      margin-bottom: 20px;
                      font-size: 24px;
                    }
                  }
                  .staff-item-accordion__explain {
                    font-size: get-sp-vw(14);
                    line-height: 1.8;
                    letter-spacing: -0.01em;
                    @include mq($from: desktop) {
                      line-height: 1.8;
                      letter-spacing: -0.01em;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            .staff-item-accordion__private {
              margin-top: get-sp-vw(50);
              padding: get-sp-vw(30);
              background-color: #ebecf8;
              @include mq($from: desktop) {
                margin-top: 0;
                flex-wrap: wrap;
                gap: 10px;
                background-color: #ebecf8;
                padding: 36px 80px 36px 30px;
                margin-top: 78px;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              @include mq($from: wide) {
                flex-wrap: nowrap;
              }
              .staff-item-accordion-private__imagearea {
                width: 100%;
                @include mq($from: desktop) {
                  height: auto;
                  width: 429px;
                }
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .staff-item-accordion-private__textarea {
                @include mq($from: desktop) {
                  width: 406px;
                }
                .staff-item-accordion-private__icon {
                  margin-top: get-sp-vw(-20);
                  margin-bottom: get-sp-vw(10);
                  width: get-sp-vw(46);
                  @include mq($from: desktop) {
                    margin-top: 0;
                    height: auto;
                    width: 45px;
                    margin-bottom: 10px;
                  }
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
                .staff-item-accordion-private__title {
                  font-weight: bold;
                  font-size: get-sp-vw(18);
                  letter-spacing: -0.01em;
                  margin-bottom: get-sp-vw(20);
                  @include mq($from: desktop) {
                    margin-bottom: 20px;
                    letter-spacing: -0.01em;
                    font-size: 21px;
                  }
                }
                .staff-item-accordion-private__explain {
                  font-size: get-sp-vw(14);
                  line-height: 1.8;
                  letter-spacing: -0.01em;
                  @include mq($from: desktop) {
                    line-height: 1.8;
                    letter-spacing: -0.01em;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        .work-item__imagearea {
          position: relative;
          z-index: 2;
          @include mq($from: desktop) {
            margin-left: -85px;
            margin-top: 10px;
            width: 615px;
            height: auto;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        .work-item__textarea {
          position: relative;
          z-index: 2;
          @include mq($from: desktop) {
            width: 488px;
          }
          .work-item__icon {
            @include mq($from: desktop) {
              width: 65px;
              height: auto;
              margin-bottom: 25px;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          h4 {
            font-weight: bold;
            @include mq($from: desktop) {
              line-height: 1.8;
              letter-spacing: -0.01em;
              margin-bottom: 20px;
              font-size: 24px;
            }
          }
          .work-item__explain {
            line-height: 1.8;
            @include mq($from: desktop) {
              letter-spacing: -0.01em;
              margin-top: 20px;
              font-size: 15px;
            }
          }
          .work-item__state {
            @include mq($from: desktop) {
              width: 292px;
              height: auto;
              margin-top: 20px;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
